* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section h2 {
    font-family: 'Bungee', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px;
    background-color: #182c61;
    color: #ecf0f2;
    display: flex;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f2;
    text-decoration: none;
}


.container {
    display: flex;
    width: 100v; 

    margin: 0 auto;
	margin-left: 32px;
    margin-right: 32px;
}



header .container, section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 24px 0;
}

section h2 ,h3 {
    margin-bottom: 16px;
    margin-left: 16px;
}

section {

    color: #182c61;
}

section p {
    margin-bottom: 16px; 
}

.Featured{
    display: grid;
    align-items: center;
    overflow:scroll;

}

.movie {
    display: grid;
    margin: 0  auto;
	margin-bottom: 24px;

}

.movie-poster img {
	flex: 1;
    width: 450px;
    height: 600px;  
    object-fit: cover; 
}

.movi-summary{
    flex: 1;
    max-width: 450px;
    height: 600px;  
    object-fit: cover; 
}


#contact .container{
    display: block;
    margin: 0 auto;
    margin-left: 32px;
    justify-content: space-between;
}

.social-links{

    text-decoration: none;

}
.contact-methods {
    display: flex;
	padding-right: 16px; 
    justify-content: space-evenly;

}

.social-links img {
    height: 24px;
    display: flex;
    margin-left: 32px;
}

.social-links li{
    display: inline;
    text-decoration: none;
}








form input,
form textarea,
form button {
    display:block;
    width: 100%; 
    margin-bottom: 16px;
    margin-left: 32px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182c61;
    color: #ecf0f2;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #182c61;
    color: #ecf0f2;
    padding: 16px 0;
}
